#pop_up_dialog  {	
    color: #3b5998;	
    
}

#msg  {
	padding-left: 25%;
}

.ui-dialog  {
    position: fixed;
    
}

.ui-widget-overlay  {
	opacity: .70;
	filter: Alpha(Opacity=70);
	position: fixed;
}

.ui-dialog-titlebar  {
	display: none;
}

/* Facebook icon style */
.fa {
    padding: 20px;
    font-size: 40px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
/*
.fb-share-button {
    padding-left: 700px;
}
*/